<h4>Basic info</h4>
<table class="table">
    <% if (file.get('image')) { %>
    <tr>
        <td colspan="2" align="center">
            <a href="<%= file.get('image') %>" target="_blank">
                <img src="<%= file.get('preview') %>" alt="<%= file.get('name') %>" class="img-thumbnail">
            </a>
        </td>
    </tr>
    <% } %>
    <tr>
        <td>Filename</td>
        <td><%= file.get('name') %></td>
    </tr>
    <tr>
        <td>Path</td>
        <td><%= file.get('path') %></td>
    </tr>
    <tr>
        <td>MimeType</td>
        <td><%= file.get('mime_type') %></td>
    </tr>
    <tr>
        <td>Created</td>
        <td><%= file.get('date_created') %></td>
    </tr>
    <tr>
        <td>Last update</td>
        <td><%= file.get('date_modified') %></td>
    </tr>
</table>

<div id="meta_data">
    <% if (file.get('meta_data').length > 0) { %>
    <h4>Meta data</h4>
    <table class="table">
        <% _.each(file.get('meta_data'), function(meta_data) { %>
            <tr>
                <td>
                    <span
                        class="meta_data_tooltip"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="<%= meta_data.description %>"
                    >
                        <%= meta_data.name %>
                    </span>
                </td>
                <td><%= meta_data.value %></td>
                <td width="70px" align="center">
                    <a
                        href=""
                        class="show_edit_meta_data_popup"
                        data-meta_data_id="<%= meta_data.id %>"
                        data-field_id="<%= meta_data.field_id %>"
                        data-value="<%= meta_data.value %>"
                    >
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="" class="remove_meta_data" data-id="<%= meta_data.id %>">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        <% }); %>
    </table>
    <% } %>
    <button id="show_add_meta_data_popup" type="button" class="btn btn-success">Add meta data</button>

    <div id="meta_data_popup_container"></div>
</div>
